@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap');

:root {
    --body : 'Source Sans Pro';
    --title : 'Sora';
    --fontColor : #E1E1E1;
    --skobeloff: #006466ff;
    --midnight-green-eagle-green: #004952ff;
    --midnight-green-eagle-green-2: #005c66ff;
    --ming: #006e7aff;
    --metallic-seaweed: #00818fff;
    --rich-black: #00363dff;
}

* {
    box-sizing: border-box;
}

.bg-header {
    background-color: var(--skobeloff);
}

.bg-verde-1 {
    background-color: var(--midnight-green-eagle-green);
}
.bg-verde-2 {
    background-color: var(--midnight-green-eagle-green-2);
}
.bg-verde-3 {
    background-color: var(--ming);
}
.bg-verde-4 {
    background-color: var(--metallic-seaweed);
}
.bg-verde-5 {
    background-color: var(--rich-black);
}

body,
html {
    margin: 0;
    padding: 0;
}

body {
    /* background-color: var(--bgColor); */
}

aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20vw;
    max-height: 100vh;
    height: 100%;
    border-top-right-radius: 50px;
    position: fixed;
}

aside h2 {
    margin: 0;
    padding: 0;
    font-family: var(--title);
    color: var(--fontColor);
    font-size: 35px;
    font-weight: 850;
    text-shadow: 2px 2px 5px #000;
}

aside ul,
aside li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.profile {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
    width: 100%;
    height: 250px;
}

.profile img {
    margin-top: 15px;
    width: 150px;
    height: 150px;
    border-radius: 75px;
    border: 2px solid var(--fontColor); 
}

.menu_navegation {
    max-width: 400px;
    width: 100%;
}

.menu_navegation ul a li {
    text-align: center;
    margin: 10px 0px;
    padding: 10px;
    font-family: var(--body);
    font-size: 25px;
    font-weight: 600;
    color: var(--fontColor);
    letter-spacing: 4px;
}

.active {
    border-right: 1px solid #FFF;
    border-bottom: 1px solid #FFF;
    border-bottom-right-radius: 10px;
}

.menu_navegation ul a {
    text-decoration: none;
}

.redes_sociais {
    margin-top: 150px;
    max-width: 400px;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
}

.redes_sociais i {
    color: var(--fontColor);
    margin: 10px;
    font-size: 35px;
}

.content {
    max-width: 79vw;
    width: 100%;
    height: 100vh;
    margin-left: 19vw;
    padding: 75px 250px;
}

.content h1 {
    color: var(--fontColor);
    font-family: var(--title);
    font-size: 35px;
}

.content h2 {
    color: var(--fontColor);
    font-family: var(--title);
    font-size: 28px;
}

#sobre p {
    line-height: 40px;
    letter-spacing: 1.7px;
}

.techs {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 100px;
}

.techs .est_exp,
.techs .est_int {
    flex: 1;
}

.techs .est_exp_img img {
    width: 200px;
    border-radius: 20px;
}

.techs_basic {
    margin-top: 100px;
}

.techs_basic p {
    color: var(--fontColor);
    font-style: var(--body);
    font-size: 20px;
}

.projetos_img {
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.projetos_img img {
    width: 375px;
    height: 190px;
    border-radius: 20px;
    margin: 30px;
    transition: opacity 1s, transform 0.5s;
}

.projetos_img img:hover {
    background-color: #fff;
    opacity: 0.7;
    transform: scale(0.9);
}

.contatos_img p {
    font-size: 15px;
    font-family: var(--title);
    color: var(--fontColor);
}

.contatos_img img {
    margin: 200px 25px;
    width: 250px;
}

/* ! página Colegio */

.projeto_img {
    display: flex;
    justify-content: center;
    margin: 40px 0px;
}

.projeto_img img {
    width: 80%;
    height: 400px;
}

.sobre_proj p,
#sobre p {
    font-size: 24px;
    font-family: var(--body);
    color: var(--fontColor);
    padding: 0px;
    margin: 50px 0px;
}

.button {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.button .btn_site {
    color: var(--fontColor);
    font-family: var(--body);
    background-color: var(--midnight-green-eagle-green-2);
    width: 110px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 0px 4px 10px #222;
}

.techs_img {
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin: 200px 0px;
}

.techs_img img {
    width: 250px;
    border-radius: 20px;
}

.effect_press div {
    transition: all 0.6s;
}

.effect_press div:hover {
    transform: translate(0px, 4px);
    box-shadow: none;
}

.effect_flutuante img,
.effect_flutuante i {
    transition: all 0.5s;
}

.effect_flutuante img:hover,
.effect_flutuante i:hover {
    /* transform: scale(1.1); */
    transform: translate(0px, -30px);
}

/* ! página Colegio */


/* ! página asilo */

.asilo_img {
    display: flex;
    align-items: center;
    flex-direction: column
}

.asilo_img img {
    max-width: 80%;
    width: 100%;
    margin: 20px 0px;
    border-radius: 20px;
}

/* ! página asilo */

.height-auto {
    height: auto;
}

/* ! opala */

#opala_mobile { 
    width: 300px;
}

/* ! opala */